@charset "UTF-8";

*{
    /* 
    height: 100%; */
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient( to right,#f2ae30a4,#f2c12e94 ) ;
    
}

main{
    background-color: white ;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #996b40;
    width: 600px;
    margin: auto;
    padding: 10px;
}
h1{
    text-align: center;
    color:#f2c12e ;
    text-shadow: 1px 1px 2px #f2c12e;
}
h2{
    color: #024959;
}

p{
    text-align: justify;
}

