@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Passion+One & display=swap');

@import url('https://fonts.googleapis.com/css2? family= Sriracha & display=swap');

:root{
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
    --fonte02: 'Passion One', cursive;
    --fonte03: 'Sriracha', cursive;
}

*{
    padding: 0px;
    margin: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte01);
}


/* Header */
header{
    background-color:black ;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 9vw;
    font-family: var(--fonte02);

}
header > p{
    padding-bottom: 50px;
    
}
header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
header a:hover footer a:hover{
    text-decoration: underline;
}


/* section */
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte03);
    font-size: 4vw;
}
section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(47, 47, 47);
    color: white;
}

section.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.21);
}


/* footer */
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}